@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the default foreground and background colors */
:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 255, 255, 255; /* White background */
  --background-end-rgb: 255, 255, 255; /* White background */
  --brand-color: 55, 58, 122;
}

body {
  background: rgb(var(--background-start-rgb)); /* White background */
}

body {
  @apply text-slate-600 font-serif text-sm font-normal;
}

.page-header {
  @apply text-2xl font-bold mb-6 underline text-primary text-center;
}


/* Utility class for balanced text */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*::-webkit-scrollbar {
  width: 8.5px;
  border-radius: 15px;
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(55, 58, 122);
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(39, 41, 87);
}